<div class="container">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" >
        <div ngModelGroup="contact" #contact="ngModelGroup">
          <div *ngIf="!contact.valid">
              ...
          </div>
            <div class="form-group">
                <label for="firstName">First name</label>
                <input
                  required minlength="5"
                  maxlength="10" 
                  pattern="banana" 
                  ngModel 
                  name="firstName" 
                  #firstName="ngModel" 
                  (change)="onChange(firstName)" 
                  type="text" 
                  class="form-control" 
                  id="firstName"
                />
                <div class="alert alert-danger" 
                  *ngIf="firstName.touched && !firstName.valid" >
                    <div *ngIf="firstName.touched && !firstName.valid">
                      Invalid Input
                    </div>
                  <div *ngIf="firstName.errors?.minlength">
                    minlength {{firstName.errors?.minlength?.requiredLength}} 
                    required but actual {{firstName.errors?.minlength?.actualLength}} 
                  </div>
                  <div *ngIf="firstName.errors?.pattern">
                    Unmached pattern
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="desc">
                  Description
                </label>
                <textarea  
                  id="desc" 
                  cols="30" 
                  rows="10" 
                  class="form-control"
                  ngModel
                  #comment='ngModel'
                  name="comment"
                  (change)="onChange(comment)">
                </textarea>
              </div>
              <div class="form-group">
                  <label>
                    <input type="checkbox" ngModel name="subcribe">
                    Subcribe ouremil sender function
                  </label>
              </div>
              <div class="form-group">
                <label for="contactMethod">
                  contact Method
                </label>
                <select ngModel name="contactMethod" id="contactMethod">
                  <option selected value="select 1">select 1</option>
                  <option value="select 2">select 2</option>
                  <option value="select 3">select 3</option>
                  <option value="select 4">select 4</option>
                  <option value="select 5">select 5</option>
                </select>
              </div>
        </div>
        
        <input type="submit" class="btn btn-primary" value="Submit" [disabled]="!myForm.valid">
        <p>{{myForm.value|json}}</p>
      </form>
</div>
