<!-- <h1>hello worls</h1>
<courses [parentData]="name"></courses>
<app-course></app-course>

 <app-favorite [name]="name" (change)="onChange($event)" >

 </app-favorite>

{{message}}
<bootstrap-panel>
<ng-container class="header">
    khlid this is heading
</ng-container>
<ng-container class="body">
    <h1>this is body</h1>
    <p>this is [aragraph inside body</p>
</ng-container>
</bootstrap-panel> -->
<!-- <div *ngIf="courses.length>0;then list else noList">

</div>
<ng-template #list>
    <h1>List have courses.</h1>
</ng-template>
<ng-template #noList>
    <h1>List has no courses</h1>
</ng-template> -->
<!-- <div [hidden]="courses.length==0">
    <h1>list has courses</h1>
</div>
<div [hidden]="courses.length>0">
    <h1>
        list has nono courses
    </h1>
</div> -->
<!-- <ul class="nav">
        <li class="nav-item ">
          <a class="nav-link " [class.bg-primary]="viewList=='two'" (click)="viewList='two'">two</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.bg-primary]="viewList=='one'"  (click)="viewList='one'">one</a>
        </li>
        
      </ul>
<div [ngSwitch]="viewList">
    <div *ngSwitchCase="'one'">
        one clicked
    </div>
    <div *ngSwitchCase="'two'">
        two clicked
    </div>
    <div *ngSwitchgit Default>
        default para
    </div>
</div> -->
<!-- <button class="btn btn-success" (click)="onClick()">Load</button>
<div *ngFor="let course of courses;index as i;trackBy:trackCourse">
     {{i}}- {{course.name}} id: {{course.id}}
     
      

</div> -->
<!-- <span
class="btn"
[ngClass]="{
    'btn-success':isSelected,
    'btn-danger':!isSelected
}" (click)="onClick()"
>
Done

</span> -->
<!-- <button
[style.color]="isSelected?'black':'red'"
[style.backgroundColor]="isSelected?'red':'black'"
(click)="onClick()""
>
click
</button> -->
<!-- <input type="text" [appInput]="'uppercase'">
 -->
<contact-form >

</contact-form>