<!-- <h1>hello worls</h1>
<courses [parentData]="name"></courses>
<app-course></app-course>

 <app-favorite [name]="name" (change)="onChange($event)" >

 </app-favorite>

{{message}}
<bootstrap-panel>
<ng-container class="header">
    khlid this is heading
</ng-container>
<ng-container class="body">
    <h1>this is body</h1>
    <p>this is [aragraph inside body</p>
</ng-container>
</bootstrap-panel> -->
<!-- <div *ngIf="courses.length>0;then list else noList">

</div>
<ng-template #list>
    <h1>List have courses.</h1>
</ng-template>
<ng-template #noList>
    <h1>List has no courses</h1>
</ng-template> -->
<div [hidden]="courses.length==0">
    <h1>list has courses</h1>
</div>
<div [hidden]="courses.length>0">
    <h1>
        list has nono courses
    </h1>
</div>